body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    width: 100%;
    background-color: lightgray;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px 120px;
    z-index: 100;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

ts {
    display: inline-flex;
}

div {
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

    header a:first-child {
        font-weight: bold;
        color: blue;
    }

article {
    position: relative;
    display: block;
    padding: 150px 120px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    font-size: 20px;
}

.article-element {
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    padding: 20px 120px;
    text-align: center;
}
